.dragger {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.picture {
  margin-top: 1em;
  position: relative;
  aspect-ratio: 1 / 1;
  img {
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.19);
  }
}

.info {
    margin-top: 1em;
    :first-child {
      font-size: 1.25em;
        color: #4f4f4f;
    }
    :last-child {
        font-size: 1em;
        color: #a1a1a1;
    }
    * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
