@font-face {
  font-family: "SF Pro Regular";
  src: url("../public/fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SF Pro Medium";
  src: url("../public/fonts/SF-Pro-Text-Medium.otf") format("opentype");
}


@font-face {
  font-family: "Lineto Circular Medium";
  src: url("../public/fonts/lineto-circular-medium.ttf") format("opentype");
}

@font-face {
  font-family: "Lineto Circular Bold";
  src: url("../public/fonts/lineto-circular-bold.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  user-select: none;
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  background-color: #262626;
}

a {
  text-decoration: underline;
  color: #55ad98;
}

a:visited {
  color: #55ad98;
}