.main {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #262626;
}

.lyricsArea {
  display: flex;
  height: 80%;
  width: 80%;
  margin-left: 10%;
  line-height: 2em;
  flex-direction: column;
  justify-content: space-evenly;
}

.shelf {
  display: flex;
  justify-content: center;
  align-items: center;

  p.line {
    font-size: 1.5em;
    color: white;
  }
}

.trackInfoArea {
  position: absolute;
  height: 8vh;
  width: 95vw;
  background-color: #ffffff;
  bottom: 15vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .coverArt {
    height: 6vh;
    width: 6vh;
    border-radius: 3px;
    margin-left: 1vh;
    background-position: center;
    background-size: contain;
  }
  .textarea {
    margin-left: 0.75em;
    text-align: left;
  }
  .musicTitle {
    color: #313131;
  }
  .musicArtist {
    font-size: 0.7em;
    color: #a1a1a1;
  }
}