.main {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  .content {
    transition: margin-top ease-in-out 0.5s;
    .lyricLine {
      font-size: 3em;
      line-height: 1.5em;
      text-align: left;
    }
  }
}