.icon {
  .icon {
    width: 3em;
    height: 3em;
    box-shadow: 0 0 5px 0 rgb(133, 133, 133);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .caption {
    margin-top: 0.7em;
    font-size: 0.7em;
    color: #282828;
    font-family: "SF Pro Medium", sans-serif;
    text-align: center;
    width: 80%;
  }
}