.main {
  height: 100%;
  width: 100%;
  text-align: center;
}

//.topbar {
//  height: 5%;
//  width: 100%;
//  display: flex;
//  justify-content: flex-end;
//  align-items: center;
//
//  .menuIcon {
//    height: 100%;
//    object-fit: cover;
//    margin-right: 5%;
//    z-index: 999;
//  }
//}


.lyricsArea {
  display: flex;
  height: 85%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  line-height: 2.3em;
  flex-direction: column;
  justify-content: space-around;
}

.shelf {
  display: flex;
  justify-content: center;
  align-items: center;

  .line {
    font-family: "SF Pro Medium", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
  }
}