.root {
  width: 100vw;
  background: #2d2d2d;
}

.lyrics {
  display: grid;
  place-items: center;
}

.island {
  display: grid;
  place-items: center;
  transition: margin-top 300ms;
}

.drawer {
  width: 95%;
  background: #f4f4f5;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin: auto;
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
}
