@font-face {
  font-family: 'Circular';
  src: url('../public/fonts/Circular/CircularStd-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('../public/fonts/Circular/CircularStd-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('../public/fonts/Circular/CircularStd-MediumItalic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url('../public/fonts/Circular/CircularStd-Light.otf');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  font-family: Circular, serif;
}